extends layout

block append head
	link(rel="stylesheet", href="/stylesheets/dhtmlxform_dhx_terrace.css")
	link(rel="stylesheet", href="/stylesheets/dhtmlxwindows.css")
	link(rel="stylesheet", href="/stylesheets/dhtmlxwindows_dhx_terrace.css")
	link(rel="stylesheet", href="/stylesheets/calogin.css")
	script(src="/javascripts/dhtmlxcommon.js")
	script(src="/javascripts/dhtmlxcontainer.js")
	script(src="/javascripts/dhtmlxwindows.js")
	script(src="/javascripts/dhtmlxform.js")
	script(src="/javascripts/calogin.js")
