extends layout

block append head
	link(rel="stylesheet", href="http://code.jquery.com/ui/1.8.23/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", href="/stylesheets/dhtmlxtree.css")
	link(rel="stylesheet", href="/stylesheets/castyle.css")
	script(src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js")
	script(src="/javascripts/jquery-ui-1.9.2.custom.js")
	script(src="/javascripts/dhtmlxcommon.js")
	script(src="/javascripts/dhtmlxcontainer.js")
	script(src="/javascripts/dhtmlxtree.js")
	script(src="/javascripts/dhtmlxtree_start.js")
	script(src="/javascripts/mycases.js")
	script(src="/javascripts/windows.js")

block content
	#container.centerpanel
	div.left.sidepanel
		div.leftslidingmenu
			div.top_left_banner
				h1 My Cases
			#nav_panel
				ul#accordion
					li
						a.heading(href='#mycases') My Cases
						ul#mycases
							- each cacase in caselist
								li
									a(href="/mycase/?cid=#{cacase.id}&ct=#{cacase.title}") #{cacase.title}
		a.lefttrigger(href="#")
	div.right.sidepanel
		div.rightslidingmenu
		a.righttrigger(href="#")