extends layout

block append head
	link(rel="stylesheet", href="/stylesheets/jquery-ui.min.css")
	link(rel="stylesheet", href="/stylesheets/castyle.css")
	script(src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js")
	script(src="/javascripts/jquery-ui.min.js")
	script(src="/javascripts/mycases.js")
	script(src="/javascripts/windows.js")
	title= title

block content
	#container.centerpanel
	div.left.sidepanel
		div.leftslidingmenu
			div.top_left_banner
				h1 My Cases
			#nav_panel
				ul#accordion
					li
						a.heading(href='#mycases') My Cases
						ul#mycases
							- each cacase in caselist
								li
									a(href="/mycase/?ca_case_id=#{cacase.id}&ca_case_title=#{cacase.title}") #{cacase.title}
		a.lefttrigger(href="#")
	div.right.sidepanel
		div.rightslidingmenu
		a.righttrigger(href="#")